@import '../styles/global.scss';

.user {
    background-color: $bg-secnd-color;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    img {
        width: 140px;
        height: 140px;
        border: 4px solid $icon-main-color;
        border-radius: 50%;
    }

    .location {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        svg {
            fill: $icon-main-color;
            font-size: 1.5rem;
        }
        
        span {
            color: $txt-secnd-color;
            font-weight: bold;
        }
    }

    .stats {
        display: flex;

        div {
            width: 140px;
            padding: 0 1rem;
            display: flex;
            flex-direction: column;
            gap: .4rem;

            &:first-child {
                border-right: 1px solid $txt-secnd-color;
            }
        }
        
        .number {
            background-color: $icon-secnd-color;
            padding: 0.2rem 0.4rem;
            border-radius: 3px;
        }
    }

    a {
        text-align: center;
        background-color: $icon-main-color;
        padding: 1rem 4rem;
        border-radius: 5px;
        opacity: 0.5;
        transition: all 0.3s ease;

        &:hover {
            opacity: 1;
        }
    }
    
}



