@import './components/styles/global.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: $txt-main-color;
}

body {
  background-color: $bg-main-color;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}