@import '../../components/styles/global.scss';

.project {
    h2 {
        text-align: center;
        margin: 1.5rem;
    }

    .projectData {
        background-color: $bg-secnd-color;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
        position: relative;

        .star {
            position: absolute;
            top: 10px;
            right: 10px;
    
            &:hover {
                cursor: pointer;
                animation: spin .5s ease-in-out;
            }
        }
    
        .favorite {
            fill: yellow;
        }
        
        .unfavorite {
            fill: $txt-secnd-color;
        }

        h3 {
            color: $txt-secnd-color;
            font-weight: bold;
        }

        div {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a svg {
                fill: $txt-secnd-color;
                border-radius: 50%;
                font-size: 2.5rem;
                transition: all .2s ease;
            }
    
            a svg:hover {
                transform: scale(1.1);
            }
        }
    }
}