@import '../../components/styles/global.scss';

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        text-align: center;
        margin: 1.5rem;
    }

    .projectData {
        background-color: $bg-secnd-color;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
        position: relative;
        width: 500px;

        @media (max-width: 500px) {
            width: 98%;
        }

        .star {
            position: absolute;
            top: 10px;
            right: 10px;
    
            &:hover {
                cursor: pointer;
                animation: spin .5s ease-in-out;
            }
        }
    
        .favorite {
            fill: yellow;
        }
        
        .unfavorite {
            fill: $txt-secnd-color;
        }

        h3 {
            color: $txt-secnd-color;
            font-weight: bold;
        }

        div {
            padding: 1rem 0;
            width: 80%;
            display: flex;
            align-items: c;
            justify-content: space-around;

            a svg {
                fill: $txt-secnd-color;
                font-size: 1.5rem;
                transition: all .2s ease;
            }
    
            a svg:hover {
                transform: scale(1.1);
            }

            .disableLink {
                font-size: 1.5rem;
                fill: rgba(255, 255, 255, 0.07);
                pointer-events: none;
            }
        }
    }
}